.div {
    padding: 1.8rem;
    max-width: 100%;
    text-align: center;
    margin:2rem auto;

  }
  .grid {
    margin: 1.2rem auto;
    width: 100%;
    height: 100%;

  }
  .box {
    display: flex;
    justify-content: lef;
    align-items:center;

  }
  .box1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .typo, .typo2 {
    text-align: left;
    margin: 1rem auto;
  }

  @media only screen and (max-width: 600px) {
.typo  {
      width: 120%;
}
.typo2{
  width: 90%;
}

  }

