.box {
  margin: 10rem auto;
}
.typo {
  margin-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 115%;
  /* or 41px */

  /* Blue beyin */

  color: #252d38;
}
.typo2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  /* or 18px */

  /* Blue beyin */

  color: #252d38;
}

.link {
  font-family: "Poppins";
  text-decoration: none;
  color: #58696d;
  font-size: 21px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 590px) {
  .box {

    width: 110%;
  }
  .typo{
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box {
    /* background: blue; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .box {
    /* background: yellow; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .boxx {
    width: 90%;
  }
}