@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Inter:wght@200;400;500;600;700;800;900&family=League+Spartan:wght@300;400;500;600&family=Neonderthaw&family=Poppins:wght@100;200;300;400;500&display=swap");

.contact {
  /* background-image: url(../public/pic.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  width: 100%;

  background-position: center;
}

.img {
  /* width: 50%; */
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1160px) {
  .img {
    /* width: 50%; */
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1157px) {
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
