

.box {

  box-sizing: border-box;
  /* position: absolute; */
  width: 100%;
  height: 480px;
  left: 254px;
  top: 3194px;
  background: #fbfbfb;
  border: 2px solid rgba(227, 227, 227, 0.8);
  box-shadow: 0px 138px 189px -76px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  /* or 167% */
  width: 70%;
  text-align: center;
  display: flex;

  /* Blue beyin */

  color: #252d38;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 3rem auto 1rem auto; */
}

.link {
  box-shadow: 0px 31px 51px rgba(0, 0, 0, 0.03);
  text-decoration: none;
  margin-top: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .box {
    max-width: 100%;
    height: auto !important;
    border:1px solid red;
    margin: auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typo {
    font-size: 2.5rem;
  }
}


